* {
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
  width: 100%;
}

.App {
  background-color: #023047;
}

.main {
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
}


.header,
.descriptionInfo {
  position: absolute;
  width: 80%;
  margin-left: 10%;
}

.header {
  top: 30px;
}

.siteTitle {
  color: #fff;
}
.label {
  color: #fff;
  margin-right: 20px;
}



.descriptionInfo {
  bottom: 30px;
  background-color: rgba(0, 0, 0, 0.288);
  color: #ccc;
  transition: all 1s ease;
}

#btn-toggle {
  width: 200px;
  border-radius: 100px;
  border: 1px solid #fff;
  background-color: #fff;
  color: #000;
}

#btn-toggle:active {
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  transition: all 0.3s ease;
}

#btn-toggle:hover {
  border-top: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  transition: all 0.3s ease;
}

